@import "./tokens.css";
@import "./base.css";

#app {
  min-height: 100vh;
}

.color-primary {
  color: var(--bigin-color-primary);
}

.btn-main {
  background: var(--bigin-color-primary);
  padding: 0.4rem 1.6rem;
  color: var(--bigin-text-inverse);
  border-radius: 4px;
  cursor: pointer;
}

.btn-main:hover {
  background: var(--bigin-color-primary-hover);
}

.btn-action {
  background: var(--bigin-color-success);
  padding: 0.4rem 1.6rem;
  color: var(--bigin-text-inverse);
  border-radius: 4px;
  cursor: pointer;
}

.btn-action:hover {
  background: var(--bigin-color-success-text);
}
